@import "tailwindcss";

@theme {
  --color-redf: #ef3035;
  --color-redfT: #ef3036ca;
  --color-blackT: #00000099;
  --color-cinza: #ddd;
  --animate-animationAmr: animationAmr 1.5s ease-in-out;
  --animate-animationText: animationText 1.5s ease-in-out;
  --shadow-logo: 0 0 40px 10px #ef3035;
  --breakpoint-sx: 375px;
  --breakpoint-smlst: 500px;
  --breakpoint-midsm: 706px;
  --breakpoint-midlg: 890px;
  --breakpoint-mlg: 1100px;
  --breakpoint-3xl: 1920px;

  @keyframes animationAmr {
    0% {
      transform: translateX(100vw);
    }
    70% {
      transform: translateX(-40%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animationText {
    0% {
      transform: translateX(-100vw);
    }
    70% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
